#ContenedorProductos {
    display: flex;
}
.producto > img {
    width: 200px;
}

.formulario >.mb-10 {
    margin-bottom: 10px;
}
.ocultar {
    display: none;
}

.align-center{
    text-align: center;
}

table {
    margin-left: 23px;
    text-align: center;
    width: 500px !important;
}

#ButtonConfirmarCompra {
    margin-left: 20px;
}

.flex {
    display: flex;
}